@model Lullaby.Admin.ViewModels.EventsListViewModel

@{
    ViewBag.Title = "イベント検索";
    Layout = "_Layout";
}

<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <h1>イベント検索</h1>
</header>
