version: "3.9"
services:
  postgres:
    image: postgres:18.1
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql
    environment:
      - POSTGRES_DB=lullaby
      - POSTGRES_USER=lullaby
      - POSTGRES_PASSWORD=lullaby
  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
volumes:
  postgres:
  redis_data:
